<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Server List</title>
  <link rel="stylesheet" type="text/css" href="/css/tables.css">
</head>
<body>
<h2>Mqtt Server</h2>

<div class="navigation">
  <form action="#" th:action="@{/choose_option/choose_table}" method="get">
    <button type="submit">Back to Choose Table</button>
  </form>
</div>

<table>
  <thead>
  <tr>
    <th>ID Server</th>
    <th>Url</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="mqttServer : ${mqttServers}">
    <td th:text="${mqttServer.id_server}"></td>
    <td th:text="${mqttServer.url}"></td>
    <td th:text="${mqttServer.status}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
