<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
    <link rel="stylesheet" type="text/css" href="/css/tables.css">
</head>
<body>
<h2>Stations</h2>

<div class="navigation">
    <form action="#" th:action="@{/choose_table}" method="get">
        <button type="submit">Back to Choose Table</button>
    </form>
</div>

<table>
    <thead>
    <tr>
        <th>User Name</th>
        <th>Name</th>
        <th>Coordinates</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="favorite : ${favorites}">
        <td th:text="${favorite.user_name}"></td>
        <td th:text="${favorite.station_name}"></td>
        <td th:text="${favorite.station_coordinates}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
