<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Report</title>
    <link rel="stylesheet" href="/css/choose.css" />
</head>
<body>
<div class="container">
    <h2>Choose a Report</h2>
    <div class="button-container">
        <form action="#" th:action="@{choose_report/station_with_measured_units_report}" method="get">
            <button type="submit">Station with Measured Units</button>
        </form>
        <form action="#" th:action="@{choose_report/station_with_measured_units_powerbi_report}" method="get">
            <button type="submit">Station with Measured Units (PowerBi)</button>
        </form>
        <form action="#" th:action="@{choose_report/measurement_between_time_limits}" method="get">
            <button type="submit">Measurement between time limits</button>
        </form>
        <form action="#" th:action="@{choose_report/report1}" method="get">
            <button type="submit">Max PM2.5 and PM10 in all stations in the selected time</button>
        </form>
        <form action="#" th:action="@{choose_report/report2}" method="get">
            <button type="submit">Count of 'poor' and 'very poor' PM2.5 parameters on the selected station</button>
        </form>
        <form action="#" th:action="@{choose_report/report3}" method="get">
            <button type="submit">Optimal values for Sulfur Dioxide (SO2) on the selected station</button>
        </form>
        <form action="#" th:action="@{choose_report/report4}" method="get">
            <button type="submit">Optimal values for Carbon Monoxide (CO) on the selected station</button>
        </form>
    </div>

    <div class="back-to-login">
        <form action="#" th:action="@{/choose_option}" method="get">
            <button type="submit">Back to Options</button>
        </form>
    </div>
</div>
</body>
</html>
