<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Option</title>
    <link rel="stylesheet" href="/css/choose.css" />
</head>
<body>
<div class="container">
    <h2>Choose an Option</h2>
    <div class="button-container">
        <form action="#" th:action="@{choose_option/choose_table}" method="get">
            <button type="submit">Choose Table</button>
        </form>
        <form action="#" th:action="@{choose_option/choose_report}" method="get">
            <button type="submit">Reports</button>
        </form>
    </div>

    <div class="back-to-login">
        <form action="#" th:action="@{/login}" method="get">
            <button type="submit">Back to Login</button>
        </form>
    </div>
</div>
</body>
</html>
